@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

[x-cloak] {
    display: none !important;
}

/* Samakan ukuran placeholder input */
input::placeholder {
    font-size: 14px;
    color: #9CA3AF; /* abu-abu biar elegan */
}
/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f8fafc;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

.custom-scrollbar-y::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar-y::-webkit-scrollbar-track {
    background: #f8fafc;
    border-radius: 4px;
}

.custom-scrollbar-y::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

.custom-scrollbar-y::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}
